@import '../../../styles/settings.scss';


.container {
  width: 80%;
  margin: 0 auto;
};

.title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.login, .phone {
  font-size: 24px;
};

.user_data{
  font-weight: bold;
  color: $color-warning;
};

.avatar {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 150px;
}